'.source.js':
  'Console log':
    'prefix': 'cl'
    'body': 'console.log($1);'
  'then':
    'prefix': 'then'
    'body': 'then(() => {\n  ${0}\n});'
  'module-import':
    'prefix': 'im'
    'body': 'import ${1} from ${2};'
  'module-export':
    'prefix': 'ex'
    'body': 'export ${0};'
  'module-export-default':
    'prefix': 'ed'
    'body': 'export default ${0};'
  'mocha-context':
    'prefix': 'con'
    'body': 'context(\'${1}\', function() {\n  ${0}\n});'
  'mocha-describe':
    'prefix': 'des'
    'body': 'describe(\'${1}\', function() {\n  ${0}\n});'
  'mocha-before-each':
    'prefix': 'bef'
    'body': 'beforeEach(function() {\n  ${0}\n});'
  'mocha-it':
    'prefix': 'it'
    'body': 'it(\'${1}\', function() {\n  ${0}\n});'
  'ember-setter':
    'prefix': 'ts'
    'body': 'this.set(\'${1}\', ${2});'
  'ember-getter':
    'prefix': 'tg'
    'body': 'this.get(\'${0}\');'
  'catch':
    'prefix': 'catch'
    'body': 'catch(() => {\n  ${0}\n});'
  'slow request':
    'prefix': 'slow'
    'body': 'return new Ember.RSVP.Promise((resolve) => { \n Ember.run.later(() => { \n resolve(); \n }, \n 500000); \n });'
